# Copyrighted files
/libraries/
/mods/*.jar
/mods/*.dis
/*.jar

# Uncessary logs
/config/spark/
/config/worldedit/.archive-unpack/
/crash-reports/
/dumps/
/local/
/logs/
/.mixin.out/
*.bak
minecraft.pid

# World data
/patchouli_books/
/world/advancements/
/world/astralsorcery/
/world/camera_images/
/world/data/
/world/datapacks/
/world/deaths/
/world/EnderStorage/
/world/**/data/
/world/**/entities/
/world/**/poi/
/world/**/region/
/world/dimensions/
/world/entities/
/world/ftbchunks/
/world/ftbessentials/
/world/ftbquests/
/world/ftbteams/
/world/minecolonies/
/world/observerlib/
/world/playerdata/
/world/pneumaticcraft/
/world/poi/
/world/region/
/world/stats/
/world/structurize/
/world/delete-world.sh
/world/icon.png
/world/kubejs_persistent_data.nbt
/world/level.*
/world/session.lock
/world/touchfile

# Sensitive data
/config/serverrestart/discord-webhook.toml
